---
layout: default
title: dubsoft - projects
---
<h1>Projects</h1>
{% for project in site.data.projects %}
  {% capture left %}4{% endcapture %}
  {% capture right %}4{% endcapture %}
  <div class="row">
    <div class="col-md-{{ left }}">
      <h2>{{project.lead}}</h2>
      <img height="50%" width="30%" src="{{project.image}}" alt="{{project.alt}}"></img>
    </div>
    <div class="col-md-{{ right }} col-md-offset-2">
      {{project.blurb}}
    </div>
  </div>
  {% if forloop.last == false %}
  <hr>
  {% endif %}
{% endfor %}
