---
layout: default
title: dubsoft
---

<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="title">dubsoft</h1>
  </div>
</div>

{% for f in site.data.features %}

  <div style="margin-top: 30px"></div>

  {% capture t %}
    <div class="col-md-6">
      <h2>{{ f.title }}</h2>
      {% if f.blurb %}
        <p>{{ f.blurb }}</p>
      {% endif %}
    </div>
  {% endcapture %}
  {% capture i %}
    <div class="col-md-6">
      <img height="100%"
           width="100%"
               src="
      {% if f.image %}
        /images/{{ f.image }}
      {% else %}
        http://placehold.it/600x300.jpg
      {% endif %}
      "/>
    </div>
  {% endcapture %}

  {% capture direction %}{% cycle 'left', 'right' %}{% endcapture %}

  <div class="row">
    {% if direction == 'right' %}
      {{ i }}
      <div class="text-right">
        {{ t }}
      </div>
    {% else %}
      {{ t }}
      {{ i }}
    {% endif %}
  </div>

{% endfor %}

