---
title: dubsoft - team
layout: default
---

<h1>Team</h1>

{% for member in site.data.members %}
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <img class="img-rounded" src="{{ member.gravatar }}" alt="{{ member.name gravatar }}"/>
        </div>
        <div class="col-md-6">
          {% if member.name %}
            <div class="row">
              <h2>{{ member.name }}</h2>
            </div>
          {% endif %}

          {% if member.twitter %}
            <div class="row">
              Twitter: <a href="https://twitter.com/{{ member.twitter }}" target="_blank">@{{ member.twitter }}</a>
            </div>
          {% endif %}
          {% if member.github %}
            <div class="row">
              GitHub: <a href="https://github.com/{{ member.github }}" target="_blank">@{{ member.github }}</a>
            </div>
          {% endif %}
          {% if member.email %}
            <div class="row">
              Email: <a href="mailto:{{ member.email }}" target="_blank">{{ member.email }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p>{{ member.bio }}</p>
    </div>
  </div>
{% endfor %}
