<footer class="footer">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="https://github.com/dubsoft">Github</a></li>
      <li><a href="https://www.facebook.com/WSoftdbSft">Facebook</a></li>
      <li><a href="https://twitter.com/dubsoft">Twitter</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>&copy; WSOFT LLC <span id="footer-year"></span></p>
      <script type="text/javascript">
        var yearSpan = document.getElementById("footer-year");
        var year = new Date().getFullYear();
        yearSpan.textContent = year;
      </script>
    </p>
</footer>
