<!-- team -->
<div id="team" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Team</h2>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <img src="images/team1.jpg" class="img-circle" alt=""/>
            
          </div>
          <div class="team-info">
            <h3>John Doe</h3>
            <b>Web Designer</b>
            <p>Team member Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.  </p>
            <ul class="team-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>													
      </div>
      
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <img src="images/team2.jpg" class="img-circle" alt=""/>
            
          </div>
          <div class="team-info">
            <h3>Jessica Doe</h3>
            <b>Programmer</b>
            <p>Team member Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.  </p>
            <ul class="team-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>													
      </div>
      
    </div>
    <!-- /row -->
    
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <img src="images/team3.jpg" class="img-circle" alt=""/>
            
          </div>
          <div class="team-info">
            <h3>Edward Doe</h3>
            <b>UI/UX Designer</b>
            <p>aTeam member Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.  </p>
            <ul class="team-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>													
      </div>
      
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <img src="images/team4.jpg" class="img-circle" alt=""/>
            
          </div>
          <div class="team-info">
            <h3>Melinda Doe</h3>
            <b>Marketing Director</b>
            <p>Team membern Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.  </p>
            <ul class="team-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>													
      </div>
      
    </div>
    <!-- /row -->

  </div>
      
</div>
<!-- ./team -->

