<script src="/scripts/jquery-1.11.1.min.js"></script>

<script>
function checkHashDivs() {
  var hash = window.location.hash.replace('#','');
  var divs = $('div.scroll > div');
  divs.each(function(i, div) {
    div = $(div);
    if (div.attr('id') === hash) {
      if (!div.hasClass('container')) {
        div.addClass('container');
      }
    } else {
      div.removeClass('container');
    }
  });
};

$(document).ready(function() {
  $.each(['hashchange'], function(i, event) {
    $(window).on(event, checkHashDivs);
  });

  checkHashDivs();
});
</script>
