<script>
{% include zepto.min.js %}
</script>
<script>
{% include zepto-slide-transition.min.js %}
</script>

<script>
function checkHashDivs() {
  var hash = window.location.hash.replace('#','');
  var divs = $('div.scroll').children('div');
  divs.forEach(function(div) {
    div = $(div);
    if (div.attr('id') === hash) {
      if (!div.hasClass('container')) {
        div.addClass('container');
      }
    } else {
      div.removeClass('container');
    }
  });
};
$.each(['hashchange'], function(i, event) {
  $(window).on(event, checkHashDivs);
});
Zepto(checkHashDivs);
</script>
