@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

//Refills
@import "refills/navigation";
@import "refills/hero";
@import "refills/accordion-tabs";
@import "refills/comment";
@import "refills/side-image";
@import "refills/footer";
@import "refills/cards";

$nav-height: 60px;
.scroll {
  div.container {
    padding-top: $nav-height;
    margin-bottom: $nav-height;
    position: relative;
    top: $nav-height;
  }

}
div.container-top, div.container-bottom {
  padding-top: $nav-height;
}

