<header class="navigation">
  <div class="navigation-wrapper">
    <h2><a href="#Hero" class="logo">dubsoft</h2></a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="#Portfolio">Portfolio</a></li>
        <li class="nav-link"><a href="#Team">Team</a></li>
        <li class="nav-link"><a href="#Contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
