<h2>Team</h2>
<div class="comment">
  <div class="comment-image">
    <img src="/images/will.jpg" alt="Will Laurance CEO"></img>
  </div>
  <div class="comment-content">
    <h1>Will Laurance, CEO</h1>
    <p>Will is the principal of dubsoft and lead software entrepreneur. When he isn't designing apps,
    scaling infrastructure, or writing great code, he likes to eat, sleep, and bike.</p>
    <p class="comment-detail"><a target="_blank" href="http://www.wlaurance.com">Blog</a>
    <br/>
    <a target="_blank" href="http://www.linkedin.com/in/wlaurance">Linkedin</a>
    </p>
  </div>
</div>

<div class="comment">
  <div class="comment-image">
    <img src="/images/jim.jpg" alt="Jim Laurance Advisor">
  </div>
  <div class="comment-content">
    <h1>Jim Laurance, Advisor</h1>
    <p>Jim brings almost 30 years of project management experience to the table. Monthly meetings on the golf course provide dubsoft with strategic and industry advice.</p>
  </div>
</div>
