<h2>Portfolio</h2>
<ul class="accordion-tabs">
  {% for category in site.data.categories %}
    {% if category.projects.size > 0 %}
      <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link">{{category.name}}</a>
          <div class="tab-content">
            <div class="cards">
              {% for item in category.projects %}
                <div class="card">
                  <div class="ribbon-wrapper">
                    <a target="_blank" href="{{ item.website }}"><div class="ribbon">Look!</div></a></div>
                  <div class="card-image">
                    <img src="{{ item.image }}" alt="{{ item.name }}"></img>
                  </div>
                  <div class="card-header">
                    {{ item.name }}
                  </div>
                  <div class="card-copy">
                    <p>{{ item.summary }}</p>
                  </div>
                  <div class="card-stats">
                    <ul>
                      <li><a target="_blank" href="{{ item.client.website }}">{{ item.client.name }}</a><span>Client</span></li>
                      <li>{{ item.projectsize }}<span>Project Size</span></li>
                      <li>{{ item.dates }}<span>Dates</span></li>
                    </ul>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<script type="text/javascript">
  $(document).ready(function () {
    $('.accordion-tabs').each(function(index) {
      $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
    });

    $('.accordion-tabs').on('click', 'li > a', function(event) {
      var classes = $(this).attr('class');
      if (classes.indexOf('is-active') === -1) {
        event.preventDefault();
        var accordionTabs = $(this).closest('.accordion-tabs');
        accordionTabs.find('.is-open').removeClass('is-open').hide();

        $(this).next().toggleClass('is-open').toggle();
        var actives = accordionTabs.find('.is-active');
        actives.forEach(function(a, b, c) {
          a.classList.remove('is-active'); 
        });
        $(this).addClass('is-active');
      } else {
        event.preventDefault();
      }
    });
  });
</script>
