<h2>Portfolio</h2>
<ul class="accordion-tabs">
  {% for category in site.data.categories %}
    {% if category.projects.size > 0 %}
      <li class="tab-header-and-content">
        <a href="javascript:void(0)" class="tab-active tab-link">{{category.name}}</a>
          <div class="tab-content">
            <div class="cards">
              {% for item in category.projects %}
                <div class="card">
                  <div class="ribbon-wrapper">
                    <a target="_blank" href="{{ item.website }}"><div class="ribbon">Look!</div></a></div>
                  <div class="card-image">
                    <img src="{{ item.image }}" alt="{{ item.name }}"></img>
                  </div>
                  <div class="card-header">
                    {{ item.name }}
                  </div>
                  <div class="card-copy">
                    <p>{{ item.summary }}</p>
                  </div>
                  <div class="card-stats">
                    <ul>
                      <li><a target="_blank" href="{{ item.client.website }}">{{ item.client.name }}</a><span>Client</span></li>
                      <li>{{ item.projectsize }}<span>Project Size</span></li>
                      <li>{{ item.dates }}<span>Dates</span></li>
                    </ul>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="flex-boxes">
              <a href="javascript:void(0)" class="flex-box flex-box-big">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
                <h1 class="flex-title">Request Your Own {{ category.name}} Consultation</h1>
                <p>contact form</p>
              </a>
              <a href="javascript:void(0)" class="flex-box">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
                <h1 class="flex-title">{{ category.name }} Pricing</h1>
                <p>Pricing for each project size</p>
              </a>
            </div>
          </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<script type="text/javascript">
  $(document).ready(function () {
    $('.accordion-tabs').each(function(index) {
      $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
    });

    $('.accordion-tabs').on('click', 'li > a', function(event) {
      if (!$(this).hasClass('is-active')) {
        event.preventDefault();
        var accordionTabs = $(this).closest('.accordion-tabs');
        accordionTabs.find('.is-open').removeClass('is-open').hide();

        $(this).next().toggleClass('is-open').toggle();
        accordionTabs.find('.is-active').removeClass('is-active');
        $(this).addClass('is-active');
      } else {
        event.preventDefault();
      }
    });
  });
</script>
