<h2>Portfolio</h2>
<ul class="accordion-tabs">
  {% for category in site.data.categories %}
    {% if category.projects.size > 0 %}
      <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link">{{category.name}}</a>
          <div class="tab-content">
            <div class="flex-boxes">
              {% for item in category.projects %}
                <div class="flex-box flex-box-big">
                  <h1 class="flex-title">{{ item.name }}</h1>
                  <p>{{ item.summary }}</p>
                  {% if item.client %}
                    <h3 class="flex-title">Client</h3>
                    <p><a href="{{ item.client.website }}">{{ item.client.name}}</a></p>
                  {% endif %}
                  {% if item.website %}
                    <h3 class="flex-title">Product Site</h3>
                    <p><a href="{{ item.website }}">{{ item.website }}</a></p>
                  {% endif %}
                </div>
                <div class="flex-box">
                  <img src="{{ item.image }}" alt="{{ item.name }}"></img>
                </div>
              {% endfor %}
            </div>
          </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
