<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
		<meta name="author" content="Will Laurance">
		<link rel="shortcut icon" href="images/favicon.png">
    <title>{{ page.title }}</title>

		<!-- Bootstrap -->
    {% stylesheet bootstrap.min %}
		<!-- Google Font -->
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
		<!-- Animate -->
    {% stylesheet animate %}
		<!-- Fontawesome-->
    {% stylesheet font-awesome.min %}
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- Owl Carousel -->
    {% stylesheet owl.carousel %}
    {% stylesheet owl.theme %}
		<!-- Magnific Popup -->
    {% stylesheet magnific-popup %}
		<!-- Main-Style -->
    {% stylesheet style %}
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head><!DOCTYPE html>

	<body class="bg-static" data-spy="scroll" data-target=".navbar-custom">
    {% include preloader.html %}
    {% include bg_pattern.html %}
    {% include navigation.html %}

    {{ content }}

    {% include javascript.html %}
  </body>
</body>
