<!-- Slider -->	
<div id="slider" class="fullSection">
  <div class="container">
    <!-- fullscreen-slider -->
    <div id="fullscreen-slider" class="carousel slide wow bounceIn showdelay4" data-ride="carousel">
      <!-- Indicators -->
        <ol class="carousel-indicators">
        <li data-target="#fullscreen-slider" data-slide-to="0" class="active"></li>
        <li data-target="#fullscreen-slider" data-slide-to="1"></li>
        <li data-target="#fullscreen-slider" data-slide-to="2"></li>
        </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      <div class="item active">
        <div class="slider-caption"> 
          <img src="/images/favicon-white-150x150.png" alt="dubsoft icon"/>
          <h2>dubsoft creates software for early stage companies</h2>
          <p>From iOS, Android, web, frontend, and database applications, we've got you covered.</p>
          <div class="page-scroll">
            <a href="#services" class="btn btn-custom btn-lg">Build Your Apps</a>	
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider-caption"> 
          <i class="fa fa-cog"></i>
          <h2>Web Presence</h2>
          <p>What does being on the Web mean these days? Dubsoft helps your business stay present on the web by adapting and growing your sites, apps, and data as society innovates technology.</p>
          <div class="page-scroll">
            <a href="#featured" class="btn btn-custom btn-lg">Keep Your Web Presence Present</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider-caption"> 
          <i class="fa fa-phone"></i>
          <h2>Full Support</h2>
          <p>A <b>Client</b> is someone that is protected.</p> 
          <p>Being a client of dubsoft means we understand your business, your priorities, and your projects. We ensure that projects stay on track to achieve your goals.</p>
          <div class="page-scroll">
            <a href="#featured" class="btn btn-custom btn-lg">Join Our Protected Clients</a>
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#fullscreen-slider" role="button" data-slide="prev">
        <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
        <span class="fa fa-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#fullscreen-slider" role="button" data-slide="next">
        <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
        <span class="fa fa-chevron-right"></span>
      </a>
    </div>
    <!-- fullscreen-slider -->
  </div>
</div>
<!-- ./Slider -->
