<!-- featured -->
<div id="featured" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Featured</h2>
    </div>
    
    <!-- featured-list -->	
    <div id="featured-list" class="owl-carousel  wow fadeInUp showdelay2">
  
      <div class="featured-box item text-center">
        <img class="img-responsive img-thumbnail" src="images/img8.jpg" alt="">
        <div class="featured-info">								
          <h3>Transportation</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Read More</a>	
        </div>
      </div>
      <div class="featured-box item text-center">
        <img class="img-responsive img-thumbnail" src="images/img7.jpg" alt="">
        <div class="featured-info">								
          <h3>Escalator</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Read More</a>
        </div>
      </div>
      <div class="featured-box item text-center">
        <img class="img-responsive img-thumbnail" src="images/img6.jpg" alt="">
        <div class="featured-info">								
          <h3>Hanging Bridge</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Read More</a>
        </div>
      </div>
      <div class="featured-box item text-center">
        <img class="img-responsive img-thumbnail" src="images/img5.jpg" alt="">
        <div class="featured-info">								
          <h3>Pathwalk</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Read More</a>	
        </div>
      </div>
      <div class="featured-box item text-center">
        <img class="img-responsive img-thumbnail" src="images/img4.jpg" alt="">
        <div class="featured-info">								
          <h3>Sun Set</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Read More</a>	
        </div>
      </div>
      <div class="featured-box item text-center">
        <img class="img-responsive img-thumbnail" src="images/img3.jpg" alt="">
        <div class="featured-info">								
          <h3>Busy Working</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Read More</a>	
        </div>
      </div>
      
    </div>
    <!-- ./featured-list -->
  
    <!-- featured-modal -->					
    <div class="modal fade" id="featured-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel3">Web Design</h2>
        </div>
        <div class="modal-body">
          <h3 class="text-center">Center image with details</h3>
          <p><img class="img-responsive img-full" src="images/img2.jpg" alt=""/>about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra.</p>
          <hr>
          <h3>Left image with details</h3>
          <p><img class="img-responsive pull-left" src="images/img1.jpg" alt=""/>about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus. 					
          about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus. </p>												 	
          <hr>
          <h3>Right image with details</h3>
          <p><img class="img-responsive pull-right" src="images/img2.jpg" alt=""/>about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus. 					
          about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus. </p>												 							 
       </div>
      </div>
      </div>
    </div>
    <!-- ./featured-modal -->
            
  </div>
      
</div>
<!-- ./featured -->

