<!-- Icon-box -->
<div id="services" class="fullSection">
  <div class="container">
    <div class="section-heading">
      <h2>Services</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInLeft showdelay2">
          <img src="{% asset_path icon1.png %}" alt="Android" />
          <img src="{% asset_path icon2.png %}" alt="Apple iOS" />
          <h3>Android and iOS Custom Development</h3>
          <p>Mobile apps are taking over. Be sure that your app gets the design, execution, and maintenance it deserves.</p>
          <a href="#" class="btn btn-custom">Build Your App Now</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInLeft showdelay2">
          <i class="fa fa-line-chart"></i>
          <h3>Website Speed Offerings</h3>
          <p>Is your website running slow? Dubsoft has different packaged offerings that fit your site speed needs.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Speed up my site</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInLeft showdelay2">
          <i class="fa fa-wrench"></i>
          <h3>Continuous Web Presence</h3>
          <p>Technology, the web, and your business are always evolving. Don't fall behind.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Stay Up to Date</a>
        </div>
      </div>
    </div>
    <!-- ./row -->
  </div>
</div>
<!-- ./Icon-box -->

