<!-- featured -->
<div id="featured" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Featured</h2>
    </div>
    
    <!-- featured-list -->	
    <div id="featured-list" class="owl-carousel  wow fadeInUp showdelay2">
  
      <div class="featured-box item text-center">
        <img class="img-responsive img-thumbnail" src="images/fg-logo.png" alt="Five Guys Burgers and Fries Android Logo">
        <div class="featured-info">								
          <h3>Five Guys Burgers and Fries</h3>
          <p>Dubsoft worked on the Android team to create a delicious ordering experience.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Read More</a>
        </div>
      </div>
      <div class="featured-box item text-center">
        <img class="img-responsive img-thumbnail" src="images/quill.org.png" alt="Quill.org main website screenshot">
        <div class="featured-info">								
          <h3>Quill.org</h3>
          <p>Dubsoft is building the next generation of writing and grammar games at Quill, a tech non-profit startup based in New York City.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Read More</a>
        </div>
      </div>
      <div class="featured-box item text-center">
        <img class="img-responsive img-thumbnail" src="images/reward-fountain.png" alt="Reward Fountain Android Tablet Image">
        <div class="featured-info">								
          <h3>Reward Fountain</h3>
          <p>A customer loyalty rewards product. Dubsoft built that tablet application that customer use daily.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Read More</a>
        </div>
      </div>
      <div class="featured-box item text-center">
        <img class="img-responsive img-thumbnail" src="images/yodlr.png" alt="Yodlr homepage screenshot">
        <div class="featured-info">								
          <h3>Yodlr</h3>
          <p>Yodlr is business conferencing for the 21st century. Yodlr and dubsoft have something exciting in the works. We'll let you know when it's ready.</p>
          <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#featured-modal">Read More</a>
        </div>
      </div>
    </div>
    <!-- ./featured-list -->
  </div>
</div>
<!-- ./featured -->
