<!-- pricing -->
<div id="pricing" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Pricing</h2>
    </div>
    
    <div class="row">
      <div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
        <div class="price-box text-center">	
          <div class="price-title">
            FREE	
            <span><small>$</small>0</span>
          </div>
          <ul class="unstyled price-list">
            <li><b>500mb</b> Disk Space</li>
            <li><b>1gb</b> Monthly Bandwith</li>
            <li><b>1</b> Email Accounts</li>
            <li><b>1</b> Domain</li>
            <li><b>1</b> FTP Accounts</li>
          </ul>
          <div class="price-action">
            <a href="#" class="btn btn-custom">Sign Up</a>	
          </div>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
        <div class="price-box text-center">	
          <div class="price-title">
            BASIC	
            <span><small>$</small>10</span>
          </div>
          <ul class="unstyled price-list">
            <li><b>1gb</b> Disk Space</li>
            <li><b>10gb</b> Monthly Bandwith</li>
            <li><b>2</b> Email Accounts</li>
            <li><b>2</b> Domain</li>
            <li><b>2</b> FTP Accounts</li>
          </ul>
          <div class="price-action">
            <a href="#" class="btn btn-custom">Sign Up</a>	
          </div>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
        <div class="price-box text-center">	
          <div class="price-title">
            STANDARD	
            <span><small>$</small>20</span>
          </div>
          <ul class="unstyled price-list">
            <li><b>20gb</b> Disk Space</li>
            <li><b>20gb</b> Monthly Bandwith</li>
            <li><b>5</b> Email Accounts</li>
            <li><b>5</b> Domain</li>
            <li><b>5</b> FTP Accounts</li>
          </ul>
          <div class="price-action">
            <a href="#" class="btn btn-custom">Sign Up</a>	
          </div>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
        <div class="price-box text-center">	
          <div class="price-title">
            PROFESSIONAL	
            <span><small>$</small>50</span>
          </div>
          <ul class="unstyled price-list">
            <li><b>50gb</b> Disk Space</li>
            <li><b>50gb</b> Monthly Bandwith</li>
            <li><b>10</b> Email Accounts</li>
            <li><b>10</b> Domain</li>
            <li><b>10</b> FTP Accounts</li>
          </ul>
          <div class="price-action">
            <a href="#" class="btn btn-custom">Sign Up</a>	
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->

  </div>
</div>
<!-- ./pricing -->
