<!-- team -->
<div id="team" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Team</h2>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-sm-offset-6 col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <img src="{% asset_path will.jpg %}" class="img-circle" alt="Will Laurance" height="128" width="128"/>
          </div>
          <div class="team-info">
            <h3>Will Laurance</h3>
            <b>Operator and Software Engineer</b>
            <p>Will runs the show at dubsoft. His duties include day to day operations, sales, code creation, and client communication.</p>
            <ul class="team-social">
              <li><a href="https://twitter.com/wlaurance" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="http://www.linkedin.com/in/wlaurance" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="http://www.wlaurance.com"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>													
      </div>
    </div>
    <!-- /row -->
  </div>
</div>
<!-- ./team -->

