<!-- Icon-box -->
<div id="icon-box" class="fullSection">
  <div class="container">
    <div class="section-heading">
      <h2>Custom Services</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInLeft showdelay2">
          <img src="images/icon1.png" alt="icon1" />
          <h3>Android Development</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInUp showdelay2">
          <img src="images/icon2.png" alt="icon2" />
          <h3>iOS Development</h3>
          <p>Add blurb about iOS Development</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInRight showdelay2">
          <img src="images/icon3.png" alt="icon3" />
          <h3>Data Modeling</h3>
        </div>
      </div>
    </div>
    <!-- ./row -->
  </div>
</div>
<!-- ./Icon-box -->

