<!-- contact -->
<div id="contact" class="fullSection">
  <div class="container">
    <div class="section-heading">
      <h2>Contact</h2>
    </div>
    <div class="row">
      <!-- address -->
      <div class="col-md-offset-4 col-md-3 col-sm-3">
        <div class="address  wow fadeInRight showdelay2">
          <h3>Address</h3>
          <ul class="unstyled">
            <li><i class="fa fa-map-marker"></i> 2120 University Ave, Berkeley, CA 94704</li>
            <li><i class="fa fa-envelope"></i>will@dubsoft.net</li>
            <li><i class="fa fa-phone"></i>+1 757 741 8185</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="social wow fadeInRight showdelay2">
          <h3>Be Social</h3>
          <ul class="social-link">
            <li><a href="https://www.facebook.com/dubsoft"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/dubsoft"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- ./address -->
    </div>
    <!-- /row -->
  </div>
</div>
<!-- ./contact -->
