<!-- jQuery  -->
{% javascript jquery %}
<!-- bootstrap -->
{% javascript bootstrap.min %}
<!-- easing -->
{% javascript jquery.easing.1.3 %}
<!-- wow -->
{% javascript wow.min %}
<!-- backstretch -->
{% javascript jquery.backstretch.min %}
<!-- owl carousel -->
{% javascript owl.carousel %}
<!-- Magnific Popup -->
{% javascript jquery.magnific-popup %}
<!-- waypoints -->
{% javascript waypoints %}
<!-- counterup -->
{% javascript jquery.counterup %}
<!-- countdown -->
{% javascript jquery.countdown.min %}
<!-- UIToTop -->
{% javascript jquery.ui.totop.min %}
<!-- jqbootstrapvalidator -->
{% javascript jqBootstrapValidation %}
<!-- main -->
{% javascript main %}
<!-- google analytics -->
{% javascript ga %}

