<!-- jQuery  -->
<script src="js/jquery.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- easing -->
<script src="js/easing/jquery.easing.1.3.js"></script>
<!-- wow -->
<script src="js/wow/wow.min.js"></script>
<!-- backstretch -->
<script src="js/backstretch/jquery.backstretch.min.js"></script>
<!-- owl carousel -->
<script src="js/owl-carousel/owl.carousel.js"></script>
<!-- Magnific Popup -->
<script src="js/magnific-popup/jquery.magnific-popup.js"></script>
<!-- waypoints -->
<script src="js/waypoints/waypoints.js"></script>
<!-- counterup -->
<script src="js/counterup/jquery.counterup.js"></script>
<!-- countdown -->
<script src="js/countdown/jquery.countdown.min.js"></script>
<!-- UIToTop -->
<script src="js/uitotop/jquery.ui.totop.min.js"></script>
<!-- jqbootstrapvalidator -->
<script src="js/jqbootstrapvalidation/jqBootstrapValidation.js"></script>
<!-- main -->
<script src="js/main.js"></script>
