<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>
  <style type="text/css">
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
  
  <link rel="icon" type="image/png" href="/images/favicon.png"/>
</head>
<body>
{% include js-pre-includes.html %}

{% include navigation.html %}
<div class="scroll">
  <div class="container-top" id="Hero">{% include hero.html %}</div>
  <div class="container" id="Portfolio">{% include work.html %}</div>
  <div class="container" id="Team">{% include team.html %}</div>
  <div class="container" id="Contact">{% include contact.html %}</div>
  {% include footer.html %}
</div>

{% include js-post-includes.html %}
</body>
